/**** 
PUT YOUR COLOR CHEAT SHEET HERE 
 --dark-base: #3A2C35;
  --light-gray: #D6D2D2;
  --light-lavender: #F1E4F3;
  --soft-pink: #F4BBD3;
  --medium-pink: #F686BD;
  --bright-pink: #FE5D9F;

******/


/***** FONTS ******/
/***** FONTS ******/
/***** FONTS ******/

body, p, div {
    font-family: "Roboto Flex", sans-serif;
    color:#3A2C35;
}
h1, h2, h3, h4, h5, h6,
.header-logo a,
.nav-link {
  font-family: 'Roboto Condensed', sans-serif;
  color:  #3A2C35;
}

/***** HEADER ******/
.header {
  border-bottom: 1px solid  #ff82b6;
}

.header.header-color-dark {
    background: #F4BBD3;
}
.header-logo a {
  color:#F4BBD3;
  font-weight: 700;
}
.bg-gray-lighter {
    background: #ffffff;
}
.container .portfolio-masonry.spacing-3 {
  background-color:#ffe2ee;
}
/****** BUTTONS****/
.btn, 
.button-text-3, 
.button-circle {
  background-color: var(--bright-pink);
  color: white !important;
  border: none;
  border-radius: 9999px;
  padding: 10px 22px;
  transition: 0.3s ease;
}
.events{
  font-size: 40px;
}
.events-list{
  font-size: 20px;
}


.portfolio-img {
    width: 100%;
    height: 434px !important;
}
.portfolio-img {
		width: 100%;
		height: 300px; /* Adjust height if you want larger/smaller cards */
		overflow: hidden;
		border-radius: 10px;
	}

	.portfolio-img img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	/* Active filter styling */
	.filter ul li.active {
		font-weight: 600;
		border-bottom: 2px solid #000;
		cursor: pointer;
	}

	.filter ul li {
		cursor: pointer;
	}

.mt-2{
  color: #747373;
}

#hygiene {
  text-align: center;
  padding-top: 150px;
  margin-bottom: 25px; /* reduce from 50px */
}

#button-video {
  text-align: center;
  background-color: #F686BD;
  margin-bottom: 5px; /* reduce from 10px */
}

#button-video:hover{
  background-color: #F4BBD3;
}

.btn-primary {
  text-align: center;
  background-color: #F686BD;
  margin-bottom: 10px;
}
.btn-primary:hover {
  background-color: #F4BBD3;
}
  /* Style for the Watch Video button */
.btn-video {
  background-color: #F686BD;
  border: none;
  border-radius: 50px; /* pill shape */
  padding: 8px 18px;
  font-weight: 600;
  font-size: 0.9rem;
  box-shadow: 0 4px 10px rgba(255, 182, 193, 0.6);
  transition: all 0.3s ease;
  display: inline-block;
  text-decoration: none;
}

.btn-video:hover {
  background-color: #F4BBD3;
  box-shadow: 0 6px 14px rgba(255, 105, 180, 0.6);
  transform: translateY(-3px) scale(1.05);
}

#hg .container {
  padding-top: 100px;  /* remove space above the numbers */
}

#top {
  color: #D6D2D2;
  transition: color 0.3s ease; /* smooth color change */
}

#top:hover {
  color: #FE5D9F; /* your pink color */
}

.button-text-3 {
  color: #3A2C35;
}